$main-font: 'Ubuntu', serif
$pubs-font: 'Ubuntu-mono', monospace
$main-fontsize-mobile: 28px
$main-fontsize: 16px

$small-screen: 992px

$my-image: url("../images/mypic1.png")

// COLORS PALETTE
// $color-n1: #db3340
// $color-n2: #e8b81a
// $color-n3: #f7eac8
// $color-n4: #20da9b
// $color-n5: #28abe3

// $color-n1: #DB3EB1
// $color-n5: #41B6E6

$colors: #3A2E39, #1E555C, #F4D8CD, #EDB183, #F15152
$color-n1: nth($colors, 1)
$color-n2: nth($colors, 2)
$color-n3: nth($colors, 3)
$color-n4: nth($colors, 4)
$color-n5: nth($colors, 5)


$whiteish: #f2f2f2
$grayish: #CCC
$blackish: #2f2f2f

$color-princeton: #e77500
$color-mipt: #0080ff

// COLORS:
$grad-color-n1: $color-n3
$grad-color-n2: $color-n2

$color-jumbotron: $blackish
$color-header-text: $whiteish

$color-publication-highlight: $color-n3
$color-tag-outline: $color-n3

$color-timeline-legend-bg: $whiteish
$color-timeline-eratext: $blackish
$color-legend-divider: $blackish

$color-unpublished: $color-n4
$color-published: lighten($color-n2, 15%)
$color-codedev: $color-n5

$color-undergradtimeline: lighten($color-mipt, 10%)
$color-phdtimeline: lighten($color-princeton, 10%)


@mixin gradient($direction, $list)
  background: -webkit-linear-gradient($direction, $list)
  background: -moz-linear-gradient($direction, $list)
  background: -o-linear-gradient($direction, $list)
  background: linear-gradient($direction, $list)

::-moz-selection
  color: $whiteish
  background: darken($color-n3, 10%)

::selection
  color: $whiteish
  background: darken($color-n3, 10%)

body

  font-family: $main-font
  @media screen and (min-width: $small-screen)
    font-size: $main-fontsize
  @media screen and (max-width: $small-screen)
    font-size: $main-fontsize-mobile

/* JUMBOTRON

header
  position: relative
  background-color: black
  height: 75vh
  min-height: 25rem
  width: 100%
  overflow: hidden

header video
  position: absolute
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: 0
  -ms-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)

header #header
  position: relative
  z-index: 2
  color: $color-header-text

header .overlay
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-color: $color-jumbotron
  opacity: 0.8
  z-index: 1

header
  @media screen and (min-width: $small-screen)
    height: 968px
  @media screen and (max-width: $small-screen)
    min-height: 1440px
  #tag-row p
    line-height: 2rem
  #header
    height: 100%

#header
  @media screen and (max-width: $small-screen)
    #header-row
      height: 75%
    #tag-row
      height: 25%
      p
        font-size: 1em
        line-height: 2em
  mark
    background: transparentize($color-tag-outline, 0.45)
    color: $color-header-text
  @media screen and (min-width: $small-screen)
    #header-row
      height: 90%
    #tag-row
      height: 10%


/* ... avatar

#mypic
  background: $my-image
  background-size: 75%
  background-position: 48% 25%
  background-repeat: no-repeat
  width: 145%
  height: 145%
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg)
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg)
  transform: translateX(-50%) translateY(-50%) rotate(45deg)
  margin: 50%

#mypiccontainer
  -ms-transform: rotate(-45deg)
  -webkit-transform: rotate(-45deg)
  transform: rotate(-45deg)
  overflow: hidden

  &:after, &:before
    content: ''
    display: block
    position: absolute
    bottom: 0px
    left: 0px
    border-style: solid
    border-color: $color-header-text

  &:after
    border-top: 0px
    border-right: 0px

  &:before
    @include gradient(right, ($grad-color-n1, $grad-color-n2))
    border-bottom: 0px
    border-left: 0px


#mypiccontainer
  @media screen and (min-width: $small-screen)
    width: 350px
    height: 350px
    margin: 0 auto
    margin-top: -150px

    &:after, &:before
      width: 250px
      height: 250px
      border-width: 4px

  @media screen and (max-width: $small-screen)
    width: 350px
    height: 350px
    margin: auto
    margin-top: 25px
    margin-bottom: 150px

    &:after, &:before
      width: 250px
      height: 250px
      border-width: 2px

/* ... about me

#aboutme
  font-size: 1.25em

  #myname
    font-size: 1.5em

.title, #header #tag-row
  text-align: center

.mytitle
  margin-bottom: 0px

.mycontact
  font-size: 0.8em
  margin-top: 20px
  margin-bottom: 20px
  a
    color: $color-header-text


@media screen and (min-width: $small-screen)
  .title, #header #tag-row
    text-align: left

  #aboutme
    margin-left: 50px

  #header .row
    max-width: 1140px
    margin: auto

.slash_divider:before
  font-family: monospace
  font-size: 1em
  color: $color-header-text

.slash_divider
  @media screen and (max-width: $small-screen)
    display: none
  @media screen and (min-width: $small-screen)
    position: absolute
    height: 150px
    top: -5px
    &:before
      content: "//\A//\A//\A//\A//\A//\A//\A//\A//"
      position: absolute
      text-align: left

/* PUBLICATIONS
#publications
  font-family: $pubs-font
  h1
    font-family: $main-font
    @media screen and (min-width: $small-screen)
      margin-top: 80px
  .card
    border: hidden

  .highlight
    background: $color-publication-highlight
    padding: 2px 5px
    display: inline-block

  .text-muted
    display: none

  .card-columns
    @media screen and (min-width: $small-screen)
      column-count: 3
    @media screen and (max-width: $small-screen)
      column-count: 1

/* TIMELINE

#timeline
  background-color: $blackish

  #timeline-title h1
    color: $whiteish
    border-bottom: 1px solid transparentize($grayish, 0.75)

  #timeline-legend
    @media screen and (max-width: $small-screen)
      display: none

    position: absolute
    left: 15%
    right: 15%
    margin-left: auto
    margin-right: auto
    text-align: center
    border-top: none
    border-radius: 0 0 10px 10px
    line-height: 2rem
    background-color: $color-timeline-legend-bg
    .legend-mipt
      background-color: $color-undergradtimeline
    .legend-princeton
      background-color: $color-phdtimeline
    .legend-unpublished
      background-color: $color-unpublished
    .legend-published
      background-color: $color-published
    .legend-codedev
      background-color: $color-codedev

    ul
      float: middle
      padding-left: 0px
      list-style: none
      margin-top: 6px
      span
        margin-left: 35px
        margin-right: 10px
        display: inline-block
        height: 25px
        width: 25px
        margin-bottom: -5px
        border-radius: 0
      li:nth-last-child(-n + 3)
        span
          border-radius: 50%
      li
        display: inline-block
        list-style: none
        vertical-align: text-top

.mytimeline
  font-family: $main-font

  .tl-slidenav-title, .tl-slidenav-description
    display: none

  .tl-timemarker-content-container, .tl-timemarker-timespan-content
    border: none
    border-radius: 5px 5px 0 0 !important
    .tl-headline
      font-size: 3vi
      line-height: 3vi
      color: $whiteish !important
      text-shadow: 1px 1px 3px $blackish

  .tl-timeera-text .tl-headline
    color: $color-timeline-eratext !important
    font-size: 1em !important
    line-height: 1.5em !important

  .tl-timeera-content-container
    border: none

  .tl-slidenav-description
    font-size: 1rem
  @media screen and (max-width: $small-screen)
    .tl-timenav
      display: none
    .tl-storyslider
      height: 100% !important
    .tl-slidenav-icon
      margin: 0px !important
      &:before
        font-size: 2em

  .tl-attribution
    display: none

  .tl-timemarker-line-left, .tl-timemarker-line-right
    box-shadow: none

  .tl-menubar
    display: none

  .tl-timeaxis-tick-text
    color: $whiteish

  .tl-timeera-color1 .tl-timeera-background
    background-color: $color-undergradtimeline !important

  .tl-timeera-color2 .tl-timeera-background
    background-color: $color-phdtimeline !important

  .tl-timeera .tl-timeera-content-container
    border-radius: 0 !important

  .tl-timeaxis-minor
    display: none !important

  .tl-timegroup-message
    display: none

  .tl-timemarker-timespan
    background: transparent !important
  .tl-timemarker-timespan-content
    z-index: 10 !important

  .tl-timemarker-content-container
    z-index: 11 !important

  .tl-timemarker-content-container
    background-color: transparentize($whiteish, 1) !important

  #gs_01, #gs_03
    h5 mark
      background: transparentize($color-unpublished, 0.5)
      color: $whiteish
  #gs_02, #gs_04
    h5 mark
      background: transparentize($color-published, 0.5)
      color: $whiteish
  #gs_05
    h5 mark
      background: transparentize($color-codedev, 0.1)
      color: $whiteish
  #gs_01
    &:after
      background: url('../files/sdwave.gif')
  #gs_02
    &:after
      background: url('../files/sauron.png')
      background-size: cover
  #gs_03
    &:after
      background: url('../files/turb.gif')
  #gs_04
    &:after
      background: url('../files/rec.png')
      background-size: cover
  #gs_05
    &:after
      background: url('../files/tv2.png')
      background-size: cover
      filter: blur(3px)
      -webkit-filter: blur(3px)

  .tl-slide
    .tl-headline
      display: none
    .tl-slide-content
      width: 100% !important
      padding: 0 !important
    &:after
      content: ""
      opacity: 0.2
      top: 0
      left: 0
      bottom: 0
      right: 0
      position: absolute
    h5 mark
      border-radius: 5px
      padding: 5px 10px
    p mark
      background: transparentize($color-tag-outline, 0.5)
      color: $whiteish
      border-radius: 5px
      padding: 4px 4px
    ul, a, h2, p
      color: $whiteish
    a
      text-decoration: underline

  #gs_01-marker .tl-timemarker-timespan-content, #gs_03-marker .tl-timemarker-timespan-content
    background-color: $color-unpublished

  #gs_02-marker .tl-timemarker-timespan-content,
  #gs_04-marker .tl-timemarker-timespan-content,
  #bs_01-marker .tl-timemarker-timespan-content,
  #bs_02-marker .tl-timemarker-timespan-content,
  #bs_03-marker .tl-timemarker-timespan-content
    background-color: $color-published

  #gs_05-marker .tl-timemarker-timespan-content
    background-color: $color-codedev

  #gs_06-marker, #gs_07-marker
    .tl-timemarker-line-right
      display: none
    .tl-timemarker-timespan-content
      @include gradient(left, ($color-unpublished, transparentize($color-unpublished, 0.5), transparentize($color-unpublished, 1)))

.footer-copyright
  color: darken($grayish, 20%)
